/clases01/nbproject/private/
/clases01/build/
/Clases02/nbproject/private/
/Clases02/build/
/Clases03/nbproject/private/
/Clases03/build/
/Clases04/nbproject/private/
/Clases04/build/
/Arrays/nbproject/private/
/Arrays/build/
/Constructores/nbproject/private/
/Constructores/build/
/CrudEstudiantes/nbproject/private/
/CrudEstudiantes/build/
/reto1/nbproject/private/
/reto1/build/
/OperacionesBasicas/nbproject/private/
/OperacionesBasicas/build/
/Constructores01/nbproject/private/
/Constructores01/build/
/CrudEmpleados/nbproject/private/
/CrudEmpleados/build/
